APP_ENV=development

DB_USER=your_db_user
DB_PASSWORD="CHANGE_ME"
DB_HOST=localhost
DB_PORT=5432
DB_NAME=forkful

JWT_SECRET_KEY="CHANGE_ME_TO_A_LONG_RANDOM_SECRET"
JWT_ENCODING_ALGORITHM="HS256"
JWT_TOKEN_EXPIRE_MINUTES=30
