[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
bcrypt = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn app.main:app --reload"
alembic-init = "alembic init app/migrations"
alembic-revision = "alembic revision --autogenerate -m"
